In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# import the data file
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the name name and the EIN
charity_df = charity_df.drop(["EIN", "NAME", "CLASSIFICATION", "STATUS"], axis=1)

In [4]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()
charity_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [5]:
# Check the number of unique values in each column
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [6]:
application_type_counts = charity_df.APPLICATION_TYPE.value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Determine which values to replace
replace_application_type = list(application_type_counts[application_type_counts < 500].index)

# Replace in DataFrame
for app_type in replace_application_type:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(app_type,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_test_scaled

array([[-0.03336766, -0.08918651, -0.12647487, ..., -0.06987849,
         0.02789425, -0.02789425],
       [ 0.02868029, -0.08918651, -0.12647487, ..., 14.31055554,
         0.02789425, -0.02789425],
       [-0.03348439, -0.08918651, -0.12647487, ..., -0.06987849,
         0.02789425, -0.02789425],
       ...,
       [-0.03348439, -0.08918651, -0.12647487, ..., -0.06987849,
         0.02789425, -0.02789425],
       [-0.03348439, -0.08918651, -0.12647487, ..., -0.06987849,
         0.02789425, -0.02789425],
       [-0.03348439, -0.08918651, -0.12647487, ..., -0.06987849,
         0.02789425, -0.02789425]])

In [12]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                592
_________________________________________________________________
dense_1 (Dense)              (None, 10)                170
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 773
Trainable params: 773
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Fit the model to the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 3s 116us/sample - loss: 0.6048 - accuracy: 0.7042 - loss: 0.6092 - accura
Epoch 2/50
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5732 - accuracy: 0.7274
Epoch 3/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5704 - accuracy: 0.7276
Epoch 4/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5693 - accuracy: 0.7280
Epoch 5/50
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5686 - accuracy: 0.7278
Epoch 6/50
25724/25724 [==============================] - 2s 73us/sample - loss: 0.5676 - accuracy: 0.7280
Epoch 7/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5674 - accuracy: 0.7275
Epoch 8/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5670 - accuracy: 0.7278
Epoch 9/50
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5665 - accuracy: 0.7282
Epoch 10/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5663 - accuracy: 0.7287
Epoch 11/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5660 - accuracy: 0.7277
Epoch 12/50
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5662 - accuracy: 0.7281
Epoch 13/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5656 - accuracy: 0.7283
Epoch 14/50
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5657 - accuracy: 0.7285
Epoch 15/50
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5654 - accuracy: 0.7283s - loss: 0.5658 - accuracy
Epoch 16/50
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5654 - accuracy: 0.7281
Epoch 17/50
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5653 - accuracy: 0.7286
Epoch 18/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5649 - accuracy: 0.7292
Epoch 19/50
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5648 - accuracy: 0.7286
Epoch 20/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5649 - accuracy: 0.7284
Epoch 21/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5647 - accuracy: 0.7283
Epoch 22/50
25724/25724 [==============================] - 2s 76us/sample - loss: 0.5644 - accuracy: 0.7293
Epoch 23/50
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5645 - accuracy: 0.7285
Epoch 24/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5642 - accuracy: 0.7290
Epoch 25/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5642 - accuracy: 0.7300
Epoch 26/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5640 - accuracy: 0.7286
Epoch 27/50
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5641 - accuracy: 0.7286
Epoch 28/50
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5641 - accuracy: 0.7290
Epoch 29/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5638 - accuracy: 0.7292
Epoch 30/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5638 - accuracy: 0.7280
Epoch 31/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5637 - accuracy: 0.7292
Epoch 32/50
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5637 - accuracy: 0.7292
Epoch 33/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5636 - accuracy: 0.7295
Epoch 34/50
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5633 - accuracy: 0.7296
Epoch 35/50
25724/25724 [==============================] - 2s 84us/sample - loss: 0.5634 - accuracy: 0.7287
Epoch 36/50
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5632 - accuracy: 0.7306
Epoch 37/50
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5634 - accuracy: 0.7296
Epoch 38/50
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5631 - accuracy: 0.7297
Epoch 39/50
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5632 - accuracy: 0.7294
Epoch 40/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5631 - accuracy: 0.7301
Epoch 41/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5629 - accuracy: 0.7293
Epoch 42/50
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5628 - accuracy: 0.7296s - loss: 0.5595
Epoch 43/50
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5629 - accuracy: 0.7307
Epoch 44/50
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5627 - accuracy: 0.7299
Epoch 45/50
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5628 - accuracy: 0.7297
Epoch 46/50
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5625 - accuracy: 0.7301
Epoch 47/50
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5627 - accuracy: 0.7289
Epoch 48/50
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5626 - accuracy: 0.7306
Epoch 49/50
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5624 - accuracy: 0.7304
Epoch 50/50
25724/25724 [==============================] - 2s 76us/sample - loss: 0.5625 - accuracy: 0.7292

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.7484 - accuracy: 0.4668
Loss: 0.7444621976958072, Accuracy: 0.46682214736938477