In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# import the data file
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the name name and the EIN
charity_df = charity_df.drop(["EIN", "NAME", "CLASSIFICATION"], axis=1)

In [4]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()
charity_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [5]:
# Check the number of unique values in each column
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [6]:
application_type_counts = charity_df.APPLICATION_TYPE.value_counts()

In [7]:
# Determine which values to replace
replace_application_type = list(application_type_counts[application_type_counts < 700].index)

# Replace in DataFrame
for app_type in replace_application_type:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(app_type,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [8]:
income_amt_counts = charity_df.INCOME_AMT.value_counts()
income_amt_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [9]:
# make a bin for 5m+
# Determine which values to replace
replace_income_amt = list(charity_df.INCOME_AMT[(charity_df.INCOME_AMT == "10M-50M") | (charity_df.INCOME_AMT == "5M-10M") | (charity_df.INCOME_AMT == "50M+")].index)
replace_income_amt

[7,
 17,
 53,
 66,
 195,
 235,
 243,
 264,
 676,
 677,
 770,
 772,
 773,
 790,
 871,
 883,
 1000,
 1001,
 1026,
 1172,
 1181,
 1208,
 1209,
 1210,
 1270,
 1278,
 1425,
 1436,
 1505,
 1512,
 1633,
 1638,
 1704,
 1713,
 1828,
 1921,
 1930,
 1972,
 2084,
 2091,
 2128,
 2165,
 2328,
 2421,
 2712,
 2782,
 2965,
 3031,
 3065,
 3121,
 3131,
 3138,
 3191,
 3263,
 3404,
 3452,
 3477,
 4348,
 4433,
 4535,
 4579,
 4659,
 4789,
 4865,
 4995,
 5059,
 5164,
 5186,
 5319,
 5519,
 5524,
 6075,
 6287,
 6417,
 6429,
 6457,
 6459,
 6465,
 6723,
 6730,
 6937,
 6990,
 7007,
 7235,
 7297,
 7299,
 7549,
 7555,
 7682,
 7849,
 7885,
 7886,
 7890,
 7891,
 7896,
 8013,
 8016,
 8191,
 8254,
 8322,
 8358,
 8457,
 8758,
 8770,
 8772,
 8813,
 8874,
 9230,
 9289,
 9293,
 9418,
 9432,
 9456,
 9866,
 9871,
 9877,
 9881,
 9908,
 9989,
 10005,
 10010,
 10039,
 10133,
 10134,
 10208,
 10211,
 10286,
 10291,
 10298,
 10306,
 10374,
 10689,
 10724,
 10776,
 10824,
 10894,
 10978,
 10985,
 10992,
 10996,
 11042,
 11126,
 11165,
 11267,
 11271,
 11313,
 11517,
 11520,
 11672,
 11755,
 11817,
 11822,
 11824,
 11830,
 11882,
 11903,
 11943,
 11994,
 12018,
 12032,
 12034,
 12039,
 12049,
 12051,
 12090,
 12102,
 12117,
 12158,
 12194,
 12201,
 12235,
 12335,
 12339,
 12343,
 12344,
 12345,
 12346,
 12352,
 12606,
 12844,
 12845,
 13578,
 13770,
 13909,
 13943,
 14250,
 14920,
 14943,
 15678,
 16012,
 16677,
 16854,
 17236,
 17237,
 17242,
 17243,
 17245,
 17265,
 17266,
 17267,
 17759,
 18248,
 19045,
 19992,
 20018,
 20081,
 20098,
 20103,
 20132,
 20148,
 20370,
 20459,
 20463,
 20566,
 20693,
 20718,
 20765,
 20966,
 21156,
 21157,
 21158,
 21159,
 21161,
 21165,
 21182,
 21186,
 21201,
 21209,
 21224,
 21227,
 21236,
 21238,
 21273,
 21301,
 21324,
 21331,
 21403,
 21417,
 21455,
 21462,
 21482,
 21499,
 21517,
 21555,
 21558,
 21611,
 21612,
 21633,
 21634,
 21640,
 21641,
 21642,
 21643,
 21646,
 21669,
 21697,
 21726,
 21782,
 21784,
 21800,
 21814,
 21820,
 21861,
 21875,
 21884,
 21901,
 21902,
 21920,
 21937,
 21986,
 22016,
 22439,
 22451,
 22461,
 22480,
 22494,
 22497,
 22579,
 22591,
 22622,
 22748,
 22921,
 22994,
 23070,
 23076,
 23079,
 23101,
 23123,
 23216,
 23233,
 23251,
 23271,
 23285,
 23286,
 23375,
 23423,
 23502,
 23562,
 23567,
 23576,
 23816,
 23821,
 23885,
 23887,
 23893,
 23905,
 23949,
 23950,
 23952,
 23966,
 23973,
 24004,
 24097,
 24101,
 24118,
 24129,
 24139,
 24145,
 24177,
 24257,
 24320,
 24327,
 24360,
 24361,
 24474,
 24480,
 24556,
 24588,
 24597,
 24633,
 24789,
 24795,
 24796,
 24798,
 24799,
 24800,
 24805,
 24809,
 24812,
 24826,
 24844,
 24871,
 24894,
 24908,
 24925,
 24947,
 24955,
 24986,
 25009,
 25096,
 25122,
 25127,
 25134,
 25144,
 25148,
 25168,
 25191,
 25198,
 25212,
 25265,
 25282,
 25500,
 25503,
 25505,
 25506,
 25509,
 25512,
 25514,
 25526,
 25553,
 25555,
 25563,
 25581,
 25635,
 25647,
 25693,
 25794,
 25848,
 26020,
 26047,
 26093,
 26098,
 26298,
 26332,
 26355,
 26359,
 26372,
 26382,
 26401,
 26430,
 26442,
 26515,
 26518,
 26525,
 26609,
 26946,
 26958,
 27558,
 27607,
 27747,
 27748,
 27754,
 27772,
 27790,
 27949,
 28083,
 28283,
 28926,
 29078,
 29079,
 29148,
 29180,
 29195,
 29372,
 29475,
 29477,
 29479,
 29484,
 29488,
 29489,
 29491,
 29492,
 29494,
 29497,
 29511,
 29618,
 29645,
 29649,
 29657,
 29726,
 29732,
 29880,
 29972,
 30066,
 30099,
 30102,
 30119,
 30121,
 30191,
 30240,
 30272,
 30285,
 30297,
 30300,
 30348,
 30357,
 30417,
 30450,
 30452,
 30497,
 30533,
 30563,
 30576,
 30642,
 30764,
 30780,
 30790,
 31182,
 31195,
 31337,
 31343,
 31359,
 31504,
 31515,
 31517,
 31529,
 31530,
 31534,
 31583,
 31618,
 31646,
 31675,
 31878,
 32095,
 32197,
 32278,
 32382,
 32383,
 32384,
 32385,
 32386,
 32404,
 32417,
 32499,
 32508,
 32541,
 32552,
 32554,
 32555,
 32558,
 32630,
 32634,
 32635,
 32636,
 32644,
 32650,
 32677,
 32755,
 32944,
 33023,
 33024,
 33027,
 33030,
 33031,
 33033,
 33034,
 33038,
 33040,
 33052,
 33058,
 33064,
 33068,
 33070,
 33088,
 33118,
 33133,
 33137,
 33146,
 33162,
 33175,
 33178,
 33225,
 33256,
 33277,
 33325,
 33359,
 33375,
 33436,
 33450,
 33455,
 33522,
 33678,
 33695,
 33716,
 33717,
 33718,
 33719,
 33720,
 33724,
 33729,
 33741,
 33744,
 33756,
 33760,
 33762,
 33765,
 33810,
 33872,
 33875,
 33890,
 33910,
 33936,
 33944,
 33976,
 34034,
 34089,
 34184,
 34187,
 34206,
 34222,
 34223,
 34236,
 34237,
 34250]

In [10]:
# Replace in DataFrame
for income in replace_income_amt:
    charity_df.INCOME_AMT = charity_df.INCOME_AMT.replace(income,"5m+")


# Check to make sure binning was successful
charity_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_test_scaled

array([[ 1.39430557e-02, -3.33676580e-02, -1.55588163e-01, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02,  2.86802949e-02, -1.55588163e-01, ...,
         1.43105555e+01,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02, -3.34843874e-02, -1.55588163e-01, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       ...,
       [ 1.39430557e-02, -3.34843874e-02, -1.55588163e-01, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02, -3.34843874e-02, -1.55588163e-01, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02, -3.34843874e-02, -1.55588163e-01, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02]])

In [15]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 15
hidden_nodes_layer3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="selu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                1110
_________________________________________________________________
dense_1 (Dense)              (None, 15)                465
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 16
=================================================================
Total params: 1,591
Trainable params: 1,591
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model to the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5902 - accuracy: 0.7140
Epoch 2/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5728 - accuracy: 0.7257
Epoch 3/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5709 - accuracy: 0.7259
Epoch 4/50
10240/25724 [==========>...................] - ETA: 1s - loss: 0.5674 - accuracy: 0.7271

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")